    /* Estilos globais */
    body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      padding: 0;
      color: #555;
    }

    .container {
      max-width: 960px;
      margin: 0 auto;
      padding: 20px;
    }

    /* Estilos do cabeçalho */
    header {
      background-color: #000;
      color: #fff;
      padding: 5px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    #logo {
      display: inline-block;
      width: 100px;
    }

    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    nav ul li {
      display: inline-block;
    }

    nav ul li a {
      display: block;
      color: #fff;
      text-decoration: none;
      padding: 10px;
    }

    nav ul li a:hover {
      text-decoration: underline;
    }

    /* Estilos da seção de análise de desempenho e capacidade de recursos */
    #performance-analysis {
      background-color: #f2f2f2;
      padding: 50px 0;
      text-align: center;
    }

    #performance-analysis h2 {
      font-size: 30px;
      margin-bottom: 20px;
      color: #000;
    }

    #performance-analysis p {
      font-size: 16px;
      color: #555;
      line-height: 1.5;
      margin-bottom: 30px;
    }

    /* Estilos do rodapé */
    footer {
      background-color: #000;
      color: #fff;
      padding: 5px 0;
      text-align: center;
    }

    /* Estilos personalizados */
    #performance-analysis .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .analysis-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
    }

    .analysis-text {
      flex: 1;
      text-align: justify;
      margin-bottom: 30px;
    }

    /* Estilos do modo escuro */
    body.dark-mode {
      background-color: #222;
      color: #fff;
    }

    header.dark-mode {
      background-color: #111;
    }

    #performance-analysis.dark-mode {
      background-color: #444;
    }

    footer.dark-mode {
      background-color: #111;
    }

    /* Estilo do botão "Voltar" */
    .btn-voltar {
      display: inline-block;
      padding: 8px 16px;
      background-color: #00f;
      color: #fff;
      text-decoration: none;
      border-radius: 4px;
      transition: background-color 0.3s;
    }

    .btn-voltar:hover {
      background-color: #000;
    }